---
import Cell from './Cell.astro';

export interface RowProps {
  row: {
    cost: string;
    talents: {
      name: string;
      description: string;
      connections: {
        left: boolean;
        right: boolean;
        up: boolean;
        down: boolean;
      };
    }[];
  };
}

const { row } = Astro.props;
---

<div class="flex justify-center space-x-8">
  {row.talents.map((talent, index) => (
    <Cell talent={talent} key={index} />
  ))}
</div>
