---
import Row from './Row.astro';

export interface TreeProps {
  tree: {
    name: string;
    description: string;
    talent_rows: {
      cost: string;
      talents: {
        name: string;
        description: string;
        connections: {
          left: boolean;
          right: boolean;
          up: boolean;
          down: boolean;
        };
      }[];
    }[];
  };
}

const { tree } = Astro.props;
---

<div class="flex flex-col items-center space-y-6 p-4 container mx-auto">
  <h1 class="text-2xl font-bold">{tree.name}</h1>
  <p class="text-md text-gray-700">{tree.description}</p>
  <div class="flex flex-col space-y-8">
    {tree.talent_rows.map((row, index) => (
      <Row row={row} key={index} />
    ))}
  </div>
</div>
